<!DOCTYPE html>
<html>
<head>
  <title>Wikipages</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if  flash[:alert] %>
	<div class="red">
		<%= flash[:alert] %>
		<% @profile.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>
	</div>
<% end %>

<%if  flash[:notice] %>
	<div class="blue">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="container">
	<a href="/"> <h1> Hyperdate.com </h1> </a>
	<%= yield %>
</div>
</body>
</html>
