<!DOCTYPE html>
<html>
<head>
  <title>Wikipages</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if  flash[:alert] %>
	<div class="red">
	<% if @profile.errors.any? %>
		<% @profile.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
		<% end %>
	<% end %>
	</div>
<% end %>

<div class="container">
<%= yield %>
</div>
</body>
</html>
